@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
:root {
    /* --color-main:linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    --color-bg: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    --color-bg-main: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
    --color-font: #E0E0E0;
    --color-button:linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    --font-home-primary:#C12D18;
    --font-home-secundary:#222222;
    --font-button:#C13216;
    --color-white:#FFFFFF;
    --color-yellow-msg: #E9B425; */
    --black:#0F1419;
    --dark-one:#17202A;
    --dark-two:#1C2733;
    --dark-tree:#283340;
    --dark-four:#3A444C;
    --dark-five:#5B7083;
    --dark-six:#8899A6;
    --dark-seven: #EBEEF0;
    --dark-eight:#F7F9FA;
    --white:#FFFFFF;
    --primary-blue:#1DA1F2;

    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}



/* Container Page **************************************************************************/
.container-page{
    width: 100%;  
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-page{
    position: relative;
    height: calc(100vh - 7rem);  
    width: 125rem;
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

/* Header **************************************************************************/
/* Container Header */
.container-header{
    /* position: fixed; */
    width: 100%;
    max-width: 27.5rem;
    height: calc(100%);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: .1rem solid var(--dark-seven);
}

.logo-header{
    width: 100%;
    height: 5.3rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.menu-navigation,
.list-menu-navigation,
.menu-navigation-item {
    margin-bottom: 2.5rem;
}

.menu-navigation-item {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

.menu-navigation-item .active {
    color: var(--primary-blue);
}

.menu-navigation-item img {
    max-width: 2.6rem;
    margin-right: 2rem;
}

.menu-navigation-item a {
    text-decoration: none;
    font-size: 1.9rem;
    vertical-align: top;
    color: var(--black);
    font-weight: 700;
    line-height: 2.3rem;
}

.btn-tweet button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-blue);
    padding: 1.5rem 9.3rem;
    color: var(--white);
    border-radius:9.99rem;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.acount-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 8rem;
    padding: 2rem 0;
}

.acount-user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name-email h4{
    color: var(--black);
    font-weight: 700;
    margin-bottom: .5rem;
}

.user-name-email p{
    color: var(--dark-five);
}

.acount-more{
    width: 3.3rem;
    height: 3.3rem;
    border: none;
    background: none;
    cursor: pointer;
}

.acount-more:hover{
    background: var(--dark-seven);
    border-radius: 5rem;
}

/* Main **************************************************************************************/
.container-timeline{
    position: relative;
    width: 100%;
    max-width: 60rem;
    /* background-color: #1C2733; */
    margin-right: 2.5rem;
    /* overflow-y: auto; */
    border-right: .1rem solid var(--dark-seven);
}

.title-page{
    width: 100%;
    height: 5.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: .1rem solid var(--dark-seven);
}

.title-page h3{
    font-weight: 700;
    color: var(--black);
}

.btn-title button{
    border: none;
    background: none;
    cursor: pointer;
    padding: .8rem;
}

.btn-title button:hover{
    background-color: var(--dark-seven);
    border-radius: 5rem;
}

.container-form-tweet{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-bottom: .1rem solid var(--dark-seven);
    height: 11.8rem;
    width: 100%;
   
}

.img-form-tweet{
    width: 4.9rem;
}

.form-tweet{
    display: flex;
    width: 100%;
    
}

.input-area{
    height: 7rem;
    width: 100%;
    
}

.icons-button{
    display: flex;
    
    
}

.icons ul {
    display: flex;
    gap: 2rem;
   
}

.icons button {
    background:transparent;
    border: none;
}


.btn-add-tweet {
    background-color: var(--primary-blue);
    border: solid var(--primary-blue);
    border-radius: 9.99rem;
    color: var(--white);
    width: 9rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
   
}

/* Aside ************************************************************************************/
.container-aside{
    position: relative;
    width: 100%;
    max-width: 35rem;
    /* right: 0rem; */
}

.aside-search {
    width: 100%;
    max-width: 34.8rem;
    height: 3.9rem;
    background-color: var(--dark-seven);
    border-radius: 999rem;
    background-image: url(/assets/img/vector-search.png) ;
    background-repeat: no-repeat;
    background-position: 5%;
    padding: 3% 13%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.aside-news {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0px;
    width: 100%;
    max-width: 35.0rem;
    min-height: 48rem;
    background: var(--dark-eight);
    border-radius: 1.6rem;
    margin-bottom: 1.5rem;
}

.aside-title {
    width: 100%;
    height: 4.6rem;
    display: inline-block;
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
    padding: 1.5rem;
    border-bottom: .1rem solid var(--dark-seven);
}

.news {
    padding:1.5rem;
    display: flex;
    gap: 1rem;
    border-bottom: .1rem solid var(--dark-seven);
}

.news-left{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.title-news {
    color: var(--dark-five);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem
}

.text-news {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--black);
}

.trending-news {
    color: var(--dark-five);
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.trending-news span {
    color: var(--primary-blue);
}

.news-img img{
    width: 7.1rem;
    height: 6.9rem;
    border-radius: 1rem;
}

.show-more{
    padding: 1.5rem 1rem;
    color: var(--primary-blue);
    font-size: 1.3rem;
}

.aside-follow {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0px;
    width: 100%;
    max-width: 35.0rem;
    background: var(--dark-eight);
    border-radius: 1.6rem;
}

.follow {
    display: flex;
    align-items:flex-start;
    padding:1.5rem;
    gap: 1rem;
    border-bottom: .1rem solid var(--dark-seven);

}


.follow-img img {
    border-radius: 5rem;
}

.follow span {
    color: var(--dark-five);
}

.name-user {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--black);
}

.follow button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 4.0rem;
    border: 0.1rem solid #1DA1F2;
    border-radius: 9.99rem;
    color: var(--primary-blue);
    font-weight: 700;
    font-size: 1.5rem;
    width: 0.1rem;
    height: 0.5rem;
}


.text-aside {
    color: var(--dark-five);
    font-size: 1.3rem;
    margin-top: 1rem;
}



/* Container footer **************************************************************************/
.container-footer{
    position: relative;
    background-color: var(--primary-blue);
    height: 7rem;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    color: var(--white);
    margin-left: 55rem;
}

.footer-text h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 700;
    line-height: 3rem;
}

.btn-footer {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    gap: 2rem;

}

.btn-footer-login {
    border: 0.1rem solid var(--white);
    border-radius: 9.99rem;
    color: var(--white);
    background-color: transparent;
    width: 9rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.6rem;
    

}

.btn-footer-signup {
    border: 0.1rem solid var(--white);
    border-radius: 9.99rem;
    color: var(--black);
    width: 9rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.6rem;
}
    


/* Page 404 */
.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    height: 100vh;
}

.logo-home {
    width: 15rem;
    height: 15rem;
}
.logo-home img {
    width: 100%;
}


.home-404 {
    font-size: 20rem;
    color: var(--primary-blue);
    margin-top: 0;
    margin-bottom: 0;
}

.text-home-404 {
    font-size: 2rem;
    color: var(--dark-four);
    margin-top: 0;
}

.btn-back {
    background-color: var(--dark-six);
    padding: 1rem 5.3rem;
    color: var(--black);
    border-radius:9.99rem;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

/*Page Login*/


.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text img {
    width: 100%;
    height: 10rem;
}

.input {
    width: 45.0rem;
    height: 6.0rem;
    left: 7.35rem;
    top: 41.2rem;
}

.btn-login {
    background: var(--primary-blue);
    width: 100%;
    max-width: 380px;
    height: 60px;
    border-radius: 50px;
    color: var(--white);
    border: 0px;
    margin-top: 75px;
    cursor: pointer;
}



















